<form asp-action ="Create">
    <lable>Ma Sinh Vien: </lable>
    <input type="number" name="StudentId">
    <br>
    <lable>Ho va Ten SV: </lable>
    <input type="text" name="StudentName">
    <br>
    <lable>Tuoi: </lable>
    <input type="Number" name="Age">
    <br>
    <input type="sumbit" value="Send">

</form>
<h2>@ViewBag.TT</h2>