<form asp-action ="Index">
    <lable>Ten: </lable>
    <input type="text" name="Name">
    <br>
    <lable>Tuoi: </lable>
    <input type="number" name="Age">
    <br>
    <lable>Que Quan: </lable>
    <input type="text" type="QueQuan">
    <br>
    <input type="sumbit" value="Send">
</form>