<form asp-action ="Index">
    <lable>Ma Nhan Vien: </lable>
    <input type="number" name="ID">
    <br>
    <lable>Ho va Ten nhan vien: </lable>
    <input type="text" name="Name">
    <br>
    <lable>Vi tri lam viec: </lable>
    <input type="number" name="ViTri">
    <br>
    <input type="sumbit" type="Send">
</form>