<form asp-action ="GiaiPhuongTrinhBac1">
    <p>
        <lable>Hệ số A: </lable>
        <input type="text" name="heSoA">
    </p>
    <p>
        <lable>Hệ số B: </lable>
        <input type="text" name="heSoB">
    </p>
    <p>
        <input class ="btn btn-success" type="sumbit" value="Send">
    </p>
</form>
<h2>@ViewBag.Message</h2>wa