<form asp-action = "GiaiPhuongTrinhBac2">
    <p>
        <lable>Hệ số A: </lable>
        <input type="text" name="heSoA">
    </p>
    <p>
        <lable>Hệ số B: </lable>
        <input type="text" name="heSoB">
    </p>
    <p>
        <lable>Hệ số C: </lable>
        <input type="text" name="heSoC">
    </p>
    <p>
        <input class ="btn btn-success" type="sumbit" value="Send">
    </p>

</form>
<h2>@ViewBag.Message</h2>